<div class="home">
  <div class="navigation" id="navigation">
    <div class="navigation--holder">
      <div class="nav">
        <ul class="nav-list">
          <li class="nav-items" [routerLink]="['/home/profile']" routerLinkActive="nav-items-active">Profile</li>
          <li class="nav-items" [routerLink]="['/home/discover']" routerLinkActive="nav-items-active">discover</li>
          <li class="nav-items" [routerLink]="['/home/buddies']" routerLinkActive="nav-items-active">buddies</li>
          <li class="nav-items" [routerLink]="['/home/settings']" routerLinkActive="nav-items-active">settings & privacy</li>
        </ul>
      </div>
    </div>
  </div>
</div>
