<div class="main">
  <div class="container">
    <p class="container-header">Forgot Password</p>
    <p class="container-body">
      Enter your phone number and we'll send you an otp to reset your password
    </p>
    <form
      class="form"
      autocomplete="off"
      *ngIf="isValid"
      [formGroup]="forgotPassword"
    >
      <div class="container-small">
        <div class="form__group">
          <select
            style="width: 9rem"
            formControlName="countryCode"
            id="countryCode"
            name="countryCode"
            class="form__input form-select-sm"
            required
            [ngClass]="{ 'is-invalid': isSubmitted && f.countryCode.errors }"
          >
            <option value="" disabled selected>CoC</option>
            <option *ngFor="let k of countryCode" [ngValue]="k.dial_code">
              {{ k.code }} {{ k.dial_code }}
            </option>
          </select>
        </div>
        <div class="form__group">
          <input
            style="width: 21rem"
            class="form-control form__input"
            placeholder="Phone Number"
            id="phoneNumber"
            formControlName="phoneNumber"
            name="phoneNumber"
            type="text"
            required
            [ngClass]="{ 'is-invalid': isSubmitted && f.phoneNumber.errors }"
          />
          <label class="form__label">Phone Number</label>
          <div
            *ngIf="isSubmitted && f.phoneNumber.errors"
            class="invalid-feedback"
          >
            <div
              style="margin-top: -21px"
              *ngIf="f.phoneNumber.errors?.required"
            >
              phone number is required
            </div>
          </div>
        </div>
      </div>
      <button class="form-button" (click)="sendOTP()">Send OTP</button>
    </form>
    <div *ngIf="!isValid" class="otp-container">
      <p class="container-body">OTP code</p>
      <ng-otp-input
        (onInputChange)="onOtpChange($event)"
        *ngIf="showOtpComponent"
        [config]="config"
      ></ng-otp-input>
      <form class="form"
        autocomplete="off"
        [formGroup]="password"
      >
        <div class="form__group">
          <input
            class="form-control form__input"
            placeholder="password"
            id="password"
            formControlName="password"
            name="password"
            type="password"
            [ngClass]="{ 'is-invalid': isPassword && g.password.errors }"
            required
          />
          <label class="form__label">New Password</label>
          <div
            *ngIf="isPassword && g.password.errors"
            class="invalid-feedback"
          >
            <div
              style="margin-top: -21px"
              *ngIf="g.password.errors?.required"
            >
              new password is required
            </div>
          </div>
        </div>
      </form>
      <div style="margin: 2rem">
        <button class="form-button" (click)="submit()" style="width: 100%;">Submit</button>
      </div>
    </div>
    <div style="width: 72%; float: left; margin-top: 1rem">
      <a routerLink="/login" class="container-body">back to home</a>
    </div>
  </div>
</div>
