<div class="main">
  <div class="container">
    <p class="container-header">Forgot Password</p>
    <p class="container-body">
      Enter your phone number and we'll send you an otp to reset your password
    </p>
    <form
      class="form"
      autocomplete="off"
      *ngIf="isValid"
      [formGroup]="forgotPassword"
    >
      <div class="form__group">
        <input
          class="form__input"
          placeholder="Phone Number"
          id="phoneNumber"
          formControlName="phoneNumber"
          name="phoneNumber"
          required
        />
        <label class="form__label">Phone Number</label>
      </div>
      <button class="form-button" (click)="retrieve()">Submit</button>
    </form>
    <div *ngIf="!isValid">
      <p class="container-body">OTP code</p>
      <ng-otp-input
        (onInputChange)="onOtpChange($event)"
        *ngIf="showOtpComponent"
        [config]="config"
      ></ng-otp-input>
    </div>
    <div style="width: 72%; float: left; margin-top: 1rem">
      <a routerLink="/login" class="container-body">back to home</a>
    </div>
  </div>
</div>
