<div class="main">
  <div class="header">
    <div class="header-profile-picture"></div>
    <div class="header-banner">
    </div>
    <div class="header-profile">
      <div class="header-profile-box">
        <div class="header-profile-container">
          <p class="header-profile-header">{{user?.name}}</p>
          <p class="header-profile-subheader" style="text-transform: lowercase;">{{user?.email}}</p>
        </div>
        <p class="header-profile-body">{{user?.phoneNumber}}</p>
        <p class="header-profile-body">{{user?.username}}</p>
      </div>
    </div>
  </div>
  <div class="interest">
    <p class="header-profile-header">Interest:</p>
    <p class="header-profile-body">{{interest?.interest}}</p>
  </div>
</div>
